:root {
  --mainDark: #343a40;
  --mainGray: rgba(109,109,109);
  --mainLightGray: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
  --mainHorizonPink: #EA4875;
  --mainHorizonOrange: #E88376;
  --mainHorizonYellow: #E9A282;
  --mainHorizonPurple: #B467D0;
  --mainHorizonGreen: ##00A5B0;
}